{% extends "layout.html" %}

{% block body %}

    <br>
    
    <h1>Exhibitions</h1>

<p>       {% for exhibition in lists["exhibitionsList"] %}
    
            {{ exhibition.name }}
            {{ exhibition.descriptions }}
            {{ exhibition.exhDuration }}
            {{ exhibition.exhLocation }}
            {{ exhibition.exhDate }}
            <br>

            <form action="{{ url_for('updatex', exhibitionsID=exhibition.exhibitionsID) }}">
                <input type=submit value="Update">
            </form>
                <form action="{{ url_for('deletex', exhibitionsID=exhibition.exhibitionsID) }}">
                <input type=submit value="Delete">
            </form>
                <br>
            
        {% endfor %}

    <br>
    
    <h1>Items</h1>
    
        {% for item in lists["itemsList"] %}
        
            {{ item.name }} Exhibition: {{ item.builds.name }}

            {{ item.name }}
            {{ item.ageLevel }}
            {{ item.difficultyLevel }}
            {{ item.numberOfPieces }}
            {{ item.dateBuilt }}
            {{ item.photo }}
                        
            <br>
            
            <form action="{{ url_for('updatit',itemsID=item.itemsID) }}">
                <input type=submit value="Update">
            </form>
                <form action="{{ url_for('deletit', itemsID=item.itemsID) }}">
                <input type=submit value="Delete">
            </form>

            <br>

        {% endfor %}

    <br>
    
</p>
{% endblock body %}