<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <button name="Add Exhibition" type="submit" value = "submit">

        Add Exhibition
    </button>
    <a href="{{ url_for('updatex', exhibitionsID=1) }}">
        
        <button style="background-color: #8f34eb; color:black; font-size: 18px; font-family: monospace; ">
            Update Exhibition
        </button>
    </a>
</body>
</html>