<form action='' method = "POST">
  <p>exhibitionsID <input type = "integer" name = "exhibitionsID" /></p>
  <p>name <input type = "text" name = "name" /></p>
  <p>description <input type = "text" name = "description" /></p>
  <p>exhDuration <input type = "integer" name = "exhDuration" /></p>
  <p>exhLocation <input type = "text" name = "exhLocation" /></p>
  <p>exhDate <input type = "text" name = "exhDate" /></p>
  <p><input type = "submit" value = "Submit" /></p>
</form>































<!-- 
<form action='' method = "POST">
    <p>employee ID <input type = "integer" name = "employee_id" /></p>
    <p>name <input type = "text" name = "name" /></p>
    <p>age <input type = "integer" name = "age" /></p>
    <p>position <input type = "text" name = "position" /></p>
    <p><input type = "submit" value = "Submit" /></p>
  </form> -->